<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <header class="container-fluid">
            <h1 class="text-center py-5">TODO-LIST</h1>
        </header>
    
        <main class="container w-100 w-md-50">
            <div class="row py-5">
                <div class="input-group mb-3">

                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Non dimentichi nient'altro?"
                    v-model="newItem"
                    >

                    <button class="btn btn-outline-primary" type="button" id="button-addon2" v-on:click="addTask">Aggiungi</button>

                </div>
            </div>

            <div class="row">
                <ul class="list-group">
                    <li 
                    v-for="(item, index) in taskList"
                    class="list-group-item d-flex justify-content-between align-items-center"
                    >
                        {{item}}
            
                        <button type="button" class="btn-close" aria-label="Close" v-on:click="deleteTask(index)"></button>
            
                    </li>
                </ul>
            </div>

            <div class="row py-5 justify-content-evenly align-items-center">
                <button type="button" class="btn btn-dark d-none d-md-inline w-25" v-on:click="printingAlert">Stampa</button>
                <button type="button" class="btn btn-primary w-25" v-on:click="showIcons">Condividi</button>
            </div>

            <div id="shareBtn" class="row text-center pt-3 hidden">
                <h5>Seleziona come condividere la lista:</h5>

                <div class="d-flex justify-content-evenly py-3">
                    <button type="button" class="btn btn-success w-25"><i class="fab fa-whatsapp fa-2x"></i></button>
                    <button type="button" class="btn btn-danger w-25"><i class="fab fa-google-plus fa-2x"></i></button>
                    <button type="button" class="btn btn-primary w-25"><i class="fab fa-telegram fa-2x"></i></button>
                </div>
             
            </div>
        </main>
    </div>
   

    <script src="./js/script.js"></script>
    
</body>
</html>